.wrapper
  word-break: break-all;
  section.casseBaseInfo
    padding:14px 0 0 0;
    background-color:#FFFFFF;
    text-align:left
    .caseBaseInfoBox
      padding:0 25px 12px 20px;
      position:relative;
      overflow:hidden;
      .arbNumber
        font-size:20px;
        font-weight:500;
        line-height:28px;
        color:#1890FF;
        .titleIcon
          vertical-align:middle;
      .arbInfo
        font-size:15px;
        font-weight:400;
        line-height:21px;
        height:21px;
        color:#000000;
        margin-top:13px;
        overflow: hidden;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        white-space:nowrap;
        .label
          color:#9B9B9B;
          margin:10px 0 0 3px;
        .arbStatus
          overflow: hidden;
          text-overflow: ellipsis;
          -o-text-overflow: ellipsis;
          white-space:nowrap;        
          color: #1890FF;
          line-height:20px;
          background: #C4E3FF;
          border-radius:22px;
          padding:2px 12px 2px 12px;
          font-size:14px;
      .caseBaseInfoTable
        display: flex;
        margin-top:12px;
        .caseBaseInfoItem
          flex:1;
          overflow: hidden;
          text-overflow: ellipsis;
          -o-text-overflow: ellipsis;
          white-space:nowrap;
          text-align:center;
          line-height:21px;
          min-height:16px;
          .label
            color:#9B9B9B
          .text
            color:#24272B;
            line-height:29px;
  .caseDetail
    text-align:left;
    margin-top:14px;
    color:#9B9B9B;
    background:#FFFFFF;
    font-size:15px;
    line-height:21px;
/deep/.van-tabs--line .van-tabs__wrap
  height:46px;
/deep/.van-tab
  font-size:15px
  line-height:46px;
  min-width:87px;
/deep/ .van-tabs__line
  width:60px!important;
  background-color: #1890ff!important;
/deep/ .van-tab--active
  color:#1890ff;
.tabItem
  padding:2px 15px 14px 14px;
  .tabItemContainer
    padding:3px 0 13px
    >:first-child
      margin-top:3px!important
  h3
    font-size:15px;
    font-weight:bold;
    color:#000;
    line-height:21px;
  h3:before
    content: "";
    display inline-block
    width:4px;
    height:16px;
    background-color:#1890FF;
    border-radius:1px;
    vertical-align:text-top;
    margin-right:8px;
  .borderBottom
    border-bottom:1pt solid #F0F0F0
  .icon
    font-size:20px;
  .fileName
    margin-left:8px;
    color:#000000;
  .grayBg
    background-color:#F6F7F9;
    padding:15px 15px 14px 16px;
    margin-top:14px;
  .bold
    font-weight:bold;
  .black
    color:#000000;
  .flexInfoBox
    display:flex;
    position:relative;
    box-sizing:border-box;
    justify-content:space-between;
    margin-top:16px;
    .infoItem
      width:47%;
      video
        width:100%;
    .infoLine
      border-right:1px solid #F0F0F0;
      height:65%;
      position:absolute;
      left:0;
      right:0;
      top:0;
      bottom:0;
      margin:auto;
      width:1px;
    .mt2
      margin-top:2px;
    .fileBox
      margin-top:8px;
    .fileBox:nth-child(1)
      margin-top:0
    .fileBox:nth-child(2)
      margin-top:2px
  .certificates
    display:flex
    color:#24272B;
    font-size:12px;
    line-height:12px;
    flex-wrap: wrap;
    .certificatesBox
      flex:1;
      margin-right:9px;
      margin-top:14px;
      text-align:center;
      max-width:79px;
      .certificatesImgBox
        margin-top:2px;
        width:79px;
        height:79px;
      p
        margin-top:8px;
    div:nth-child(4)
      margin-right:0;
    div:nth-child(8)
      margin-right:0;
    div:nth-child(12)
      margin-right:0;
  .fileMagin
    margin-bottom:6px;
  .fileMagin:last-child{
    margin-bottom:0;
  }
  /deep/.van-cell
    padding:0;
    color:#9B9B9B;
  /deep/.van-collapse-item__content
    font-size: 15px;
    padding:0;
    line-height:21px;
  /deep/.van-collapse-item
    border-bottom:1px solid #f0f0f0