@import './variables.styl';
.inline-ul
  padding: 0
  margin: 0
  li
    display: inline-block
    margin: 0 20px
    font-size:16px;
    line-height:0;
    color:rgba(146,146,146,1);
    p
      line-height: 22px;
  li:first-child
    margin-left: 0
  li:last-child
    margin-right: 0
  li:after
    content: "";
    display inline-block
    width:18px;
    height:2px;
    background-color:transparent;
    margin-top:6px;
  li.active
    color:#1890FF;
  li.active:after
    background-color:#1890FF;
.iconzhongcai_pdf,.iconzhongcai_word,.iconzhongcai_tupian
  color:#72BBFF;


// .ql-snow .ql-picker.ql-size .ql-picker-label[data-value=erhao]::before,
// .ql-snow .ql-picker.ql-size .ql-picker-item[data-value=erhao]::before {
//     content: "二号";
//     font-size: 29px;
// }
// .ql-snow .ql-picker.ql-size .ql-picker-label[data-value=sanhao]::before,
// .ql-snow .ql-picker.ql-size .ql-picker-item[data-value=sanhao]::before {
// 	content: "三号";
// 	font-size: 21px;
// }
// .ql-snow .ql-picker.ql-size .ql-picker-label[data-value=xiaosan]::before,
// .ql-snow .ql-picker.ql-size .ql-picker-item[data-value=xiaosan]::before {
// 	content: "小三";
// 	font-size: 20px;
// }
// .ql-snow .ql-picker.ql-size .ql-picker-label[data-value=xiaoer]::before,
// .ql-snow .ql-picker.ql-size .ql-picker-item[data-value=xiaoer]::before {
// 	content: "小二";
// 	font-size: 24px;
// }
 
.ql-size-erhao {
  	font-size: 16px;
}
.ql-size-sanhao {
  	font-size: 14px;
}
.ql-size-xiaosan {
  	font-size: 13px;
}
.ql-size-xiaoer {
  	font-size: 14px;
}