@import './variables.styl';
@import './comm.styl';
@import './reset.styl';
@import '../../node_modules/mint-ui/lib/toast/style.css';
@import '../../node_modules/mint-ui/lib/indicator/style.css'
@import '../../node_modules/mint-ui/lib/spinner/style.css'  
.wrapper
  background-color:#F0F0F0;
  position: relative;
  overflow: hidden;
  min-height: 100%;
.content
  margin 0 14px
.fr {
  float: right;
}
.fl {
  float: left;
}
.half{
  width:50%
}
.text-left
  text-align: left
.text-right
  text-align: right
.text-center
  text-align: center
.margin-left
  margin-left: 10px
.margin-right
  margin-right: 10px
.nomargin
  margin: 0
.text
  color: $text-color
.text-red
  color: $red-color
a
  color: $text-color
  text-decoration: none
a:hover
  color: $red-color
.bg-white
  background-color #ffffff
.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}
.mt30
  margin-top 30px
.mb30
  margin-bottom 30px
.mt15
  margin-top 15px
.mb15
  margin-bottom 15px
.moneyColor
  color: $red-color
.infoColor
  color: #ff6461
.infoTipsColor
  color: #ff9600
.skeleton
  background-color: #f2f3f5;
  height:100%;
.widthPercent10
  width:10%;
.widthPercent20
  width:20%;
.widthPercent30
  width:30%;
.widthPercent40
  width:40%;
.widthPercent50
  width:50%;
.widthPercent60
  width:60%;
.widthPercent70
  width:70%;
.widthPercent80
  width:80%;
.widthPercent90
  width:90%;
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}  